<%= render "layouts/error_messages" %>
<%= form_with model: @post, local: true do |f| %>
<div>
  <!-- ***** 次を修正(, "タイトル" を消去) ***** -->
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div>
  <!-- ***** 次を修正(, "内容" を消去)  ***** -->
  <%= f.label :content %>
  <%= f.text_field :content %>
</div>
<div>
  <%= f.submit button_value %>
</div>
<% end %>